{% extends "main/header.html" %}
{%block title%} | {{ object.title }}{%endblock%}
{% block content %}
<br class="row media content-section mobiledevice">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="d-flex">
            <div>
                <h1 class="title-style">Waarom deze 'I Love Swimming' website?</h1>
                <h2 class="subtitle-style">En meer info over mijzelf.</h2>
            </div>
        </div>
        <div class="d-flex article-metadata">
            <div>
                <a class='mr-2' href="/">Herbert Ingels</a>
                 
            </div>
             
        </div>
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12" id="content">
        <div class="article-style">
            Dag zwemmer of ben je geïnteresseerde in het (beter)leren zwemmen, dan zit je hier aan het juiste adres. Registratie is gratis en zonder voorwaarden, zodra je bent ingelogd zal je allerlei informatie vinden ivm zwemmen: oa training schema's, start to swim, droogtraining, opwarming in het water en later zal dit nog worden uitgebreid met extra informatie voor zwemmers door zwemmers, heb je suggesties aarzel dan niet het contact formulier in te vullen. 
        </div></br><b>Fout analyse:</b>
        Het is ook de bedoeling dat op termijn zwemmers een fout analyse kunnen laten uitvoeren ivm hun zwemmen, hiervoor zal je 2/3 video’s moeten opladen, een formulier invullen, waarbij je dan nadien per mail een antwoord zal krijgen wat er nog kan verbeterd worden aan de zwemtechniek, maar zodra dit beschikbaar zal zijn krijg je hier meer uitleg over, maar ook via onze nieuwsbrief krijg je een update over deze functionaliteit zodra deze beschikbaar is.
         </br></br>
         <b>Wie ben ik:</b>
            Ikzelf ben al jaren actief in de zwemwereld, competitie zwemmen, 25 jaar waterpolo, meer dan 10 jaar training gegeven aan verschillende groepen, opleiding initiator zwemmen, initiator waterpolo en instructeur B zwemmen gevolgd. </br> Nu vooral bezig met de focus op techniek, de juiste techniek aanleren van de verschillende zwemslagen: rug, crawl, schoolslag en vlinder, uiteraard ook de bijhorende keerpunten en de starten.
        </br></br> Het is de kennis die ik heb opgedaan, die ik graag via deze weg wil overbrengen naar mensen die graag zwemmen of willen leren (beter) zwemmen. </br></br>
        </div>
    </div>
{% endblock content %}