 <h2>Contactformulier van I Love Swimming website</h2>

 <p> Beste {{firstname}}, </p></br>
 <p>Bedankt voor het sturen van uw bericht, wij proberen u zo snel mogelijk een antwoord te bezorgen.</p>

 <h6>Uw gegevens en uw vraag:</h6><hr>
 <p><b>Voornaam: </b>{{firstname}}</p>
 <p><b>Familienaam: </b>{{lastname}}</p>
 <p><b>E-mail: </b>{{email}}</p>
 <p><b>Reden: </b> {{reden}}</p></br>
 <p><b>Bericht: </b> {{information}}</p><hr></br>

 <p>Bedankt, wij zullen u zo snel mogelijk verder helpen.</p></br></br><br>
 <p>Het I Love Swimming Team</p>